<div class="jumbotron jumbotron_custom">
  <div class="col-sm-8 mx-auto">
    <h1>幹事サポートとは？</h1>
    <p>急遽幹事をしないといけなくなった...</br>インターネットで調べても、本当に大人数で遊べる場所かわからない...</p>
    <p>そんな悩みを解消できる、10名以上で遊べるスポットを共有しあえるのが幹事サポートです!</p>
    <h2>世の悩める幹事達に幸あれ！</h2>
    <p>
      <%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary" %>
    </p>
  </div>
</div>
